
{% extends 'flatpages/default.html' %}

{% block title %}
Comments
{% endblock title %}

{% block content %}
<h1>Комментарии</h1>
    {% if comments %}
        <table align="center" width="1000">
            <tr bgcolor="#C0C0C0">
                <td>
                    Объявление
                </td>
                <td>
                    Автор комментария
                </td>
                <td>
                    Комментарий
                </td>
                <td>
                    Дата публикации комментария
                </td>
                <td>
                    Отклик
                </td>
            </tr>
            {% for comment in comments %}
                <tr>
                    <td>
                        {{ comment.post }}
                    </td>
                    <td>
                        {{ comment.fan }}
                    </td>
                    <td>
                        {{ comment.text }}
                    </td>
                    <td>
                        {{ comment.create_date }}
                    </td>
                    <td>
                        {% if comment.active %}
                            <a href="unget/{{ comment.id }}" class="btn btn-danger btn-sm">Отклонить</a>
                        {% else %}
                            <a href="get/{{ comment.id }}" class="btn btn-success btn-sm">Принять</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Комментариев нет!</h2>
    {% endif %}
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a href="?page=1">Начало</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Конец</a>
    {% endif %}

{% endif %}
{% endblock content %}